<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header bg-dark text-light">Nome do dono do veículo:  {{auth.acidentes.donoVeiculo}} </div>
    <div class="card-body">
        <h4 class="card-title">Modelo do veículo: {{auth.acidentes.modelo}}</h4>
        <h6 class="card-title">Descrição do acidente: {{auth.acidentes.descricaoAcidente}}</h6>
        <h6 class="card-title">Ano do veículo:  {{auth.acidentes.ano}}</h6>
      <p class="card-text">Placa do veículo:  {{auth.acidentes.placa}}</p>
    </div>
</div>
