<form (ngSubmit)="onSubmit(donoVeiculo, modelo, ano, placa, terceiro.nome, terceiro.cpf, descricaoAcidente)" action="" method="post">
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome do dono do veículo</span>
        <input [(ngModel)]="donoVeiculo" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Modelo do veículo</span>
        <input [(ngModel)]="modelo" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Ano do veículo</span>
        <input [(ngModel)]="ano" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Placa do veículo</span>
        <input [(ngModel)]="placa" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div *ngFor="let item of terceiros; let i = index">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Nome do terceiro envolvido no acidente</span>
            <input [(ngModel)]="terceiro.nome[i]" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <span class="input-group-text" id="inputGroup-sizing-default">CPF do terceiro</span>
            <input [(ngModel)]="terceiro.cpf[i]" [ngModelOptions]="{standalone: true}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <button (click)="addTerceiro()" type="button" class="btn btn-secondary">Adicionar terceiros</button>
            <button *ngIf ="terceiros.length > 1"(click)="removerTerceiro()" type="button" class="btn btn-danger">Remover terceiros</button>
        </div>    
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Descrição do acidente</span>
        <input [(ngModel)]="descricaoAcidente" [ngModelOptions]="{standalone: true}" type="textarea" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>
</form>